# Dependencies
client/node_modules/
server/node_modules/

# Environment
client/.env
server/.env

# Logs
*.log

# Build
client/dist/

# OS
.DS_Store
Thumbs.db
*.stackdump

# VSCode
.vscode/

# Temporary
*.tmp